  @import "./variable.styl"
// 表格样式
  table
    width 100%
    border-collapse collapse
    border-left 1px solid #dedede
    thead
      tr
        width 100%
        height 60px
        background-color $base-bgcolor
      td
        padding-left 40px
    tbody
      tr
        height 100px
        border-bottom 1px solid #dedede
      td
        padding-left 40px
    tfoot
      tr
        height 40px
        line-height 40px
        text-align center

// 以下是信息显示样式
  .oddStyle
    font-size 12px
    width 100px
    color #999
  .evenStyle
    font-size 14px
    color #333
    font-weight bold
  .changeStyle
    color #999
    font-weight normal
    text-decoration underline
  .editEven
    input
      height 30px
      width 298px
      border-bottom 1px solid #ddd
      border-radius 0
// 以下是用户信息间距样式
  .space
    padding-left 40px
    text-align left
    ul
      margin 30px 0
      li
        margin 10px 0
