/*
 * 全局颜色变量定义
 */
// 主色调：蓝色
$color-primary = #0a81e5
$base-bgcolor = #f5f5f5
$button-color-green = #1BBE9F
$color-font-primary = #444444
$type-selected = #fff

/*
 * 全局大小变量定义
 */
// 基础字体大小
$base-font-size = 14px
// 大屏幕尺寸最小临界值
$media-size-lg = 1366px
// 笔记本尺寸最小临界值
$media-size-laptop = 1024px
// 平板尺寸最小临界值
$media-size-tablet = 768px

/*
 * 元素大小变量定义
 */
// 顶部高度
$top-height = 80px
// 菜单栏宽度
$left-menu-width = 230px
// 菜单栏高度
$menu-height = 60px
// 二级菜单宽度
$second-menu-width = 160px

// 表格行高度
$table-height = 100px
// 按钮高度
$button-height = 40px
// 按钮宽度
$button-width = 120px
// 游戏展示大小
$games-width = 200px
